@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

.button {
  border: none;
  padding: 14px 17px;
  border-radius: 5px;
  cursor: pointer;
}

.button--primary {
  text-transform: uppercase;
  background-color: #a07936;
  color: #ffffff;
}

.button--secondary {
  background-color: white;
  color: black;
}

.fa-star {
  color: #999999;
}

.checked {
  color: #a07936;
}

.slider__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider__item--active {
  border-radius: 15px;
  width: 40px;
  background-color: #a07936 !important;
}

.slider__item--dark {
  background-color: #000000;
}

.product-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.price--actual {
  font-size: 26px;
  color: #a07936;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.price--past {
  font-size: 18px;
  color: #666666;
  text-decoration: line-through;
  font-family: 'Lato', sans-serif;
}

.card-badge {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-badge__title {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  line-height: 20px;
}

.card-badge__title::before, .card-badge__title::after {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.5;
}

.card-badge--new {
  background-color: #181818;
}

.card-badge--sale {
  background-color: #a07936;
}

.section {
  margin-top: 100px;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #262626;
}

.section-desc {
  color: #999999;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  line-height: 60px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.header-nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: centec;
      -ms-flex-align: centec;
          align-items: centec;
}

.header-nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-brand-text {
  width: 146px;
  height: 32px;
  margin-left: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.header-nav-brand-text__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  white-space: nowrap;
}

.header-nav-brand-text__desc {
  display: block;
  text-align: center;
  font-size: 12px;
  display: block;
  color: #ffffff;
}

.header-nav-links {
  width: 632px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-links__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.header-nav-links__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #a07936;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  z-index: -1;
}

.header-nav-links__item:hover::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.header-nav-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-actions__item {
  margin-right: 34px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.header-nav-actions__item-wrapper {
  position: relative;
}

.header-nav-actions__item-wrapper::after {
  position: absolute;
  top: -15px;
  left: 15px;
  content: '2';
  width: 25px;
  height: 22px;
  background-color: #a07936;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-weight: 800;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-nav-actions-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.header-nav-actions-hamburger__item {
  width: 16px;
  height: 3px;
  margin-bottom: 1px;
  background-color: #fff;
}

/* phones and tablets */
@media only screen and (max-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav-brand-text__title {
    font-size: 14px;
  }
  .header-nav-brand-text__desc {
    font-size: 12px;
  }
  .header-nav-links {
    display: none;
  }
}

/* small phones */
@media only screen and (max-width: 414px) {
  .header-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-nav-brand {
    display: none;
  }
  .header-nav-actions {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../img/hero/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.hero-content-wrapper {
  position: absolute;
  top: 200px;
  right: 0;
  width: 42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-content-announcements {
  position: absolute;
  top: 150px;
  left: 60%;
  width: 130px;
  height: 130px;
  background-image: url("../img/hero/warn-sign.png");
  background-repeat: no-repeat;
  background-position: left top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-content-announcements__secondary, .hero-content-announcements__primary {
  color: #ffffff;
}

.hero-content-announcements__secondary {
  display: block;
  font-family: 'Lato', sans-serif;
}

.hero-content-announcements__primary {
  display: block;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.hero-content__button {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.hero-content__button::before {
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #a07936;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
  margin-right: -15px;
}

.hero-content__above-sign {
  display: block;
  font-size: 18px;
  color: #a07936;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
}

.hero-content__title {
  display: block;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 22px;
  text-align: right;
}

.hero-content__desc {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  text-align: right;
  margin-bottom: 30px;
}

.hero-content__buy-button {
  display: inline-block;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-weight: 700;
  margin-bottom: 13px;
}

.hero-content__anchor {
  text-decoration: none;
  display: block;
  color: #ffffff;
  letter-spacing: 4.85px;
  font-family: 'Lato', sans-serif;
}

.hero-content-indicator {
  width: 100%;
  position: absolute;
  bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  .hero-content__desc {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-content-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 500px;
  }
  .hero-content__title, .hero-content__desc {
    text-align: left;
  }
  .hero-content__buy-button {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 414px) {
  .hero {
    background-size: auto;
  }
  .hero-content-wrapper {
    height: auto;
    top: 130px;
  }
  .hero-content__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .hero-content__desc {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .hero-content__buy-button {
    margin-bottom: 10px;
  }
}

.customer {
  background-color: #ffffff;
}

.customer-wrapper {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__item {
  width: 270px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #a07936;
}

.customer__item-img {
  display: inline;
  margin-right: 20px;
}

.customer__item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
}

.customer__item-title-desc {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  .customer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customer__item {
    margin: 5px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 414px) {
  .customer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customer__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .customer__item-img {
    margin-left: 20px;
  }
}

.deals {
  height: 700px;
  background-color: #f4f4f4;
  background-image: url("../img/deals/deals-main-bgi.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.deals-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.deals-text {
  padding-right: 108px;
  text-align: center;
}

.deals-text__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  display: block;
  margin-bottom: 17px;
}

.deals-text__subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  display: block;
  font-size: 24px;
  margin-bottom: 26px;
}

.deals-text__desc {
  color: #666666;
  display: block;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 22px;
}

.deals-card__card {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 700px;
  height: 350px;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.deals-card__card-img {
  width: 300px;
  height: 300px;
  margin: 0 25px;
}

.deals-card__card-text {
  height: 100%;
  display: block;
}

.deals-card__card-text__rate {
  margin-top: 68px;
  margin-bottom: 28px;
  color: #666666;
}

.deals-card__card-text__title {
  margin-bottom: 14px;
}

.deals-card__card-text__desc {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #666666;
}

.deals-card__card-text__price {
  margin-top: 36px;
}

.deals-card__card-text__price-actual, .deals-card__card-text__price-old {
  display: inline-block;
}

.deals-card__card-text__price-actual {
  margin-right: 30px;
}

.deals-card__card-text__buy-now {
  margin-top: 30px;
}

.deals-indication {
  position: absolute;
  bottom: 0;
  left: calc(50% - 49px);
  text-align: center;
}

.deals-indication__item {
  background-color: black;
}

@media only screen and (max-width: 1024px) {
  .deals-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deals-text {
    margin-top: 20px;
    padding: 0;
  }
  .deals-card__card {
    top: 35%;
    left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .deals-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deals-text {
    margin-top: 20px;
    padding: 0;
  }
  .deals-card__card {
    top: 35%;
    left: 2%;
  }
}

@media only screen and (max-width: 414px) {
  .deals-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deals-text {
    margin-top: 20px;
    padding: 0;
  }
  .deals-card__card {
    width: 350px;
    top: 35%;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deals-card__card-text__title {
    font-size: 14px;
    margin: 10px 0;
  }
  .deals-card__card-text__rate, .deals-card__card-text__desc, .deals-card__card-text__price, .deals-card__card-text__buy-now {
    display: none;
  }
  .deals-card__main-img {
    display: none;
  }
  .deals-indication {
    left: 0;
    width: 100%;
  }
}

.new-products__title {
  text-align: center;
}

.new-products__desc {
  text-align: center;
  margin-bottom: 50px;
}

.new-products__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-products__separator-img {
  display: inline-block;
  margin: 0 10px;
}

.new-products__separator-sep {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #a07936;
}

.new-products-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-products-item__img {
  width: 100%;
}

.new-products-item-img-wrapper {
  width: 370px;
  height: 370px;
  position: relative;
}

.new-products-item-img__info-badge {
  position: absolute;
}

.new-products-item-img__info-badge--new {
  top: 10px;
  left: 10px;
}

.new-products-item-img__info-badge--sale {
  top: 10px;
  right: 10px;
}

.new-products-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.new-products-item-price {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.new-products-item__rate, .new-products-item__title {
  margin-bottom: 11px;
}

.new-products-indication {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .new-products-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  height: 600px;
  position: relative;
}

.about::before, .about::after {
  position: absolute;
  top: 0;
  content: '';
  width: 50%;
  height: 100%;
}

.about::before {
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 121, 54, 0.8)), to(rgba(160, 121, 54, 0.8))), url("../img/about/about-background.png");
  background: linear-gradient(rgba(160, 121, 54, 0.8), rgba(160, 121, 54, 0.8)), url("../img/about/about-background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about::after {
  right: 0;
  background-color: #181818;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.about-about {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-about__card {
  position: absolute;
  width: 110%;
  height: 400px;
  border: 5px solid #ffffff;
  z-index: 2;
  color: white;
  padding: 64px;
}

.about-about__card__pre-title {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.about-about__card__title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-about__card__desc {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 67px;
  line-height: 22px;
}

.about-stats {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 400px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 165px;
}

.about-stats__item__title {
  color: white;
  display: inline;
}

.about-stats__item-icon {
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.about-stats__item__icon {
  width: 20px;
  height: 20px;
}

.about-stats__item__title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.about-stats__item__desc {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.about-stats__item__desc-secondary {
  display: inline;
  color: #666666;
}

@media only screen and (max-width: 1024px) {
  .about-about__card__desc {
    margin-bottom: 37px;
  }
  .about-stats__item {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .about::before, .about::after {
    display: none;
  }
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-about {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(160, 121, 54, 0.8)), to(rgba(160, 121, 54, 0.8))), url("../img/about/about-background.png");
    background: linear-gradient(rgba(160, 121, 54, 0.8), rgba(160, 121, 54, 0.8)), url("../img/about/about-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .about-about__card__title {
    margin-bottom: 10px;
  }
  .about-about__card__desc {
    margin-bottom: 40px;
  }
  .about-stats {
    width: 100%;
    padding: 30px 44px;
    background-color: #181818;
  }
  .about-stats__item {
    margin-left: 0;
  }
}

@media only screen and (max-width: 414px) {
  .about-about__card__pre-title {
    margin-top: 20px;
  }
  .about-about__card__title {
    font-size: 22px;
    margin-bottom: 0;
  }
  .about-about__card__desc {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .about-stats__item {
    padding-top: 5px;
  }
  .about-stats__item-icon {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .about-about__card__pre-title {
    margin-top: 10px;
    font-size: 12px;
  }
  .about-stats__item__title {
    font-size: 15px;
  }
  .about-stats__item__desc {
    font-size: 10px;
  }
}

.best-seller__title {
  text-align: center;
}

.best-seller__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-seller__separator-img {
  display: inline-block;
  margin: 0 10px;
}

.best-seller__separator-sep {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #a07936;
}

.best-seller__desc {
  text-align: center;
}

.best-seller-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-seller__item {
  width: 270px;
  height: 450px;
  -webkit-transition: 1s;
  transition: 1s;
}

.best-seller__item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.best-seller__item:hover .best-seller__item-info__item {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.best-seller__item-img-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.best-seller__item-img__info-badge {
  position: absolute;
  top: 10px;
}

.best-seller__item-img__info-badge--sale {
  right: 10px;
}

.best-seller__item-img__info-badge--new {
  left: 10px;
}

.best-seller__item__rate {
  margin-bottom: 10px;
}

.best-seller__item__title {
  margin-bottom: 10px;
}

.best-seller__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best-seller__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 15px;
}

.best-seller__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.best-seller__item-info__item {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: 1s;
  transition: 1s;
}

.best-seller__item-info__item__icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #999999;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.best-seller__item-info__item__icon:hover {
  background-color: #a07936;
}

.best-seller__item-info__item__icon:hover .best-seller__item-info__item__img {
  color: white;
}

.best-seller__item-info__item__img {
  width: 15px;
  height: 15px;
}

.best-seller-indication {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .best-seller-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .best-seller__item {
    width: 100%;
    height: 100%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 100px;
  }
  .best-seller__item__img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .best-seller__desc {
    font-size: 12px;
  }
  .best-seller__item {
    margin-top: 0;
  }
}

@media only screen and (max-width: 414px) {
  .best-seller__desc {
    line-height: 30px;
  }
  .best-seller__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */