.button
    &--primary
        border: none
        padding: 14px 17px
        text-transform: uppercase
        background-color: $primary
        color: #ffffff
        border-radius: 5px
        cursor: pointer
.slider__item
    display: inline-block
    width: 20px
    height: 20px
    background-color: #fff
    margin: 10px
    border-radius: 50%
    cursor: pointer
    transition: .5s
    &--active
        border-radius: 15px
        width: 40px
        background-color: $primary !important
