.deals
    height: 700px
    background-color: $bgc-secondary
    background-image: url('../img/deals/deals-main-bgi.png')
    background-size: cover
    background-repeat: no-repeat
    &-wrapper
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row
        position: relative
    &-text
        padding-right: 108px
        text-align: center
        &__title
            +m-bold
            text-transform: uppercase
            font-size: 36px
            line-height: 36px
            display: block
            margin-bottom: 17px
        &__subtitle
            +m-regular
            color: $text-secondary
            display: block
            font-size: 24px
            margin-bottom: 26px
        &__desc
            color: $text-secondary
            display: block
            font-size: 14px
            +l-regular
            line-height: 22px
    &-card
        &__card
            position: absolute
            top: 25%
            left: 35%
            width: 700px
            height: 350px
            background-color: white
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
            display: flex
            justify-content: center
            align-items: center
            &-img
                width: 300px
                height: 300px
                margin: 0 25px
            &-text
                height: 100%
                display: block
                &__rate
                    margin-top: 68px
                    margin-bottom: 28px
                    color: $text-secondary
                &__title
                    text-transform: uppercase
                    +m-bold
                    font-size: 16px
                    margin-bottom: 14px
                &__desc
                    font-size: 14px
                    +l-regular
                    color: $text-secondary
                &__price
                    margin-top: 36px
                    &-actual,
                    &-old
                        display: inline-block
                    &-actual
                        font-size: 26px
                        margin-right: 30px
                        color: $primary
                        +l-bold
                    &-old
                        font-size: 18px
                        color: $text-secondary
                        text-decoration: line-through
                        +l-regular
                &__buy-now
                    margin-top: 30px
    &-indication
        position: absolute
        bottom: 0
        left: calc(50% - 49px)
        text-align: center
        &__item
            background-color: black
